
.bg-container {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    background-size:cover;
    height: 100vh;
    

}

.hotel-booking-card {
    background-color: #000000e6;
    padding:20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin:5%;
    width:23vw;
    height:30vh;
}

.main-heading {
    font-family: "bree safari";
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    padding: 8px;
}

.paragraph {
    font-family: "roboto";
    font-size: 12px;
    color: #ffffff
}

.paragraph1 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    padding: 8px;
    font-family: "bree safari";
}

.button {
    border-radius: 10px;
    width: 110px;
    height: 35px;
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    padding: 5px;
    margin-left: 50px;
}

.button1 {
    padding:5px;

}